In [1]:
from main_parser import main

In [3]:
main()

            INSERT INTO currency_rate (currency_pair_id, exchange_rate, date)
            VALUES (2, 13.63, '2024-10-16 17:45:09.897381')

            INSERT INTO currency_rate (currency_pair_id, exchange_rate, date)
            VALUES (1, 97.02, '2024-10-16 17:45:09.902241')

            INSERT INTO currency_rate (currency_pair_id, exchange_rate, date)
            VALUES (3, 105.53, '2024-10-16 17:45:09.908849')

In [4]:
from sqlalchemy import create_engine

In [ ]:
self.engine = create_engine()